<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Mundo Merch</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <h1>Restablece tu contraseña</h1>
  </ion-item>
  <ion-item-divider >
    <ion-label>

    </ion-label>
  </ion-item-divider>
<ion-card>
  <form>
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" required></ion-input>
    </ion-item>
  
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block">Enviar</ion-button>
      </ion-col>
    </ion-row>
  
  <small>
    Proporcione el nombre de usuario o la dirección de correo electronico que 
    proporcionó para crear la cuenta
  </small>
  
  </form>
</ion-card>
</ion-content>
