<<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title >Mundo Merch</ion-title>
  </ion-toolbar>
  <ion-toolbar>    
    <ion-searchbar mode="md" placeholder="Busca camisetas, abrigos, tazas... " ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <h1>Ofertas</h1>
  </ion-item>

  <ion-item-divider>
    <ion-label>
      <ion-chip color="success">
        <ion-label >Abrigos</ion-label>
      </ion-chip>
      <ion-chip color="primary">
        <ion-label >Camisetas</ion-label>
      </ion-chip>
      <ion-chip color="danger">
        <ion-label >Tazas</ion-label>
      </ion-chip>
      <ion-chip color="warning">
        <ion-label >Gorras</ion-label>
      </ion-chip>
    </ion-label>
  </ion-item-divider>




  <ion-card>
    <ion-img src="assets/images/gorra_nothing.png"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>RD$150</ion-card-subtitle>
      <ion-card-title>Gorra Nothing</ion-card-title>    
      
    </ion-card-header>
    <ion-item>
        <ion-button color="primary" slot="end">Comprar</ion-button>
      </ion-item>

  </ion-card>

  <ion-card>
    <ion-img src="assets/images/abrigo_negro_noche.jpg"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>RD$650</ion-card-subtitle>
      <ion-card-title>Abrigo Negro noche</ion-card-title>    
      
    </ion-card-header>
    <ion-item>
        <ion-button color="primary" slot="end">Comprar</ion-button>
      </ion-item>

  </ion-card>


  
  <ion-card>
    <ion-img src="assets/images/camiseta_palmera.jpg"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>RD$450</ion-card-subtitle>
      <ion-card-title>Camiseta palmera</ion-card-title>    
      
    </ion-card-header>
    <ion-item>
        <ion-button color="primary" slot="end" routerLink="/categorias">Comprar</ion-button>
      </ion-item>

  </ion-card>

  <ion-card>
    <ion-img src="assets/images/abrigo_tierra.jpg"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>    
      
    </ion-card-header>
    <ion-item>
      <ion-button color="primary" slot="end" routerLink="/categorias">Comprar</ion-button>
    </ion-item>
  </ion-card>


  
  <ion-card>
    <ion-img src="assets/images/abrigo_tierra.jpg"></ion-img>
    <ion-card-header>
      <ion-card-subtitle >RD$200</ion-card-subtitle>
      <ion-card-title>Abrigo Tierra </ion-card-title>    
      <ion-text slot="end">
        <ion-button color="primary" slot="end" routerLink="/categorias">Comprar</ion-button>
      </ion-text>
    </ion-card-header>
    <ion-item>
      <ion-button color="primary" slot="end" routerLink="/categorias">Comprar</ion-button>
    </ion-item>
  </ion-card>


  <ion-card>
    <ion-item href="#" class="ion-activated">
      <ion-icon name="wifi" slot="start"></ion-icon>
      <ion-label>Card Link Item 1 activated</ion-label>
    </ion-item>
  
    <ion-item href="/menu/principal/principal/categorias">
      <ion-icon name="wine" slot="start"></ion-icon>
      <ion-label>Card Link Item 2</ion-label>
    </ion-item>
  
    <ion-item class="ion-activated">
      <ion-icon name="warning" slot="start"></ion-icon>
      <ion-label>Card Button Item 1 activated</ion-label>
    </ion-item>
  
    <ion-item>
      <ion-icon name="walk" slot="start"></ion-icon>
      <ion-label>Card Button Item 2</ion-label>
    </ion-item>
  </ion-card>
</ion-content>