<ion-header>
  <ion-toolbar>
    
    <ion-title size="large">Mundo Merch</ion-title>
  </ion-toolbar>
  <ion-toolbar>    
    <ion-searchbar mode="md" placeholder="Busca camisetas, abrigos, tazas... " ></ion-searchbar>

  </ion-toolbar>
</ion-header>



<ion-content>

  <ion-item>
    <h1>Principal</h1>
  </ion-item>

  <ion-item-divider>
    <ion-label>
      Aquí podrás encontrar productos con diseños originales y a buen precio
    </ion-label>
  </ion-item-divider>

  <ion-card>
    <ion-item>
      <ion-icon name="sparkles-outline" slot="start"></ion-icon>
      <ion-label>Nuevos productos</ion-label>
    </ion-item>
  
    <ion-card-content>
      Los productos más recientes para que estés al dia con la moda
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-img src="assets/images/abrigo_tierra.jpg"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>RD$750</ion-card-subtitle>
      <ion-card-title>Abrigo Logo Tierra</ion-card-title>    
      
    </ion-card-header>
    <ion-item>
        <ion-button color="primary" slot="end" routerLink="/detalle-abrigo">Comprar</ion-button>
      </ion-item>

  </ion-card>

  <ion-card>
    <ion-img src="assets/images/abrigo_negro_noche.jpg"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>RD$650</ion-card-subtitle>
      <ion-card-title>Abrigo Negro noche</ion-card-title>    
      
    </ion-card-header>
    <ion-item>
        <ion-button color="primary" slot="end">Comprar</ion-button>
      </ion-item>

  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon name="rocket-outline" slot="start"></ion-icon>
      <ion-label>Lo más vendido</ion-label>
    </ion-item>
  
    <ion-card-content>
      Los productos más vendidos de la semana
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-img src="assets/images/camiseta_palmera.jpg"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>RD$450</ion-card-subtitle>
      <ion-card-title>Camiseta palmera</ion-card-title>    
      
    </ion-card-header>
    <ion-item>
        <ion-button color="primary" slot="end" routerLink="/categorias">Comprar</ion-button>
      </ion-item>

  </ion-card>

  <ion-card>
    <ion-img src="assets/images/taza_oro.jpg"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>RD$170</ion-card-subtitle>
      <ion-card-title>Taza valor de oro</ion-card-title>    
      
    </ion-card-header>
    <ion-item>
      <ion-button color="primary" slot="end" routerLink="/categorias">Comprar</ion-button>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon name="star-outline"slot="start"></ion-icon>
      <ion-label>Segun tus gustos</ion-label>
    </ion-item>
  
    <ion-card-content>
      Échale un ojo a estos productos que te pueden gustar
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-img src="assets/images/gorra_nothing.png"></ion-img>
    <ion-card-header>
      <ion-card-subtitle >RD$150</ion-card-subtitle>
      <ion-card-title>Gorra Nothing</ion-card-title>    
      <ion-text slot="end">
        <ion-button color="primary" slot="end" routerLink="/categorias">Comprar</ion-button>
      </ion-text>
    </ion-card-header>
    <ion-item>
      <ion-button color="primary" slot="end" routerLink="/categorias">Comprar</ion-button>
    </ion-item>
  </ion-card>

</ion-content>

