<ion-header>
  <ion-toolbar>
    <ion-title>Carrito</ion-title>
  </ion-toolbar>
  <ion-toolbar>    
    <ion-searchbar mode="md" placeholder="Busca camisetas, abrigos, tazas... " ></ion-searchbar>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title size="small">Total a pagar: RD$2400</ion-title>
    <ion-button size="small" slot="end" color="primary">Proceder a pagar</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item-divider>
    <ion-label>
      Basic Item Divider
    </ion-label>
  </ion-item-divider>
<!-- Item as a Button -->
<ion-item button (click)="buttonClick()" >
  <ion-thumbnail slot="start" href="principal">
    <img src="assets/images/cat_camiseta.jpg">
  </ion-thumbnail>
  <ion-label>
    Button Item
  </ion-label>
          <ion-text slot="end" size="medium">RD$300</ion-text>
</ion-item>
<ion-item-divider color="warning">
  <ion-label>
    Secondary Item Divider
  </ion-label>
</ion-item-divider>


</ion-content>
