<ion-header>

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Mundo Merch</ion-title>
  </ion-toolbar>
  <ion-toolbar>

    <ion-searchbar mode="md" placeholder="Busca camisetas, abrigos, tazas... " ></ion-searchbar>

  </ion-toolbar>


</ion-header>

<ion-content>
  <ion-item>
    <h1>Categorias</h1>
  </ion-item>
  <ion-item-divider>
    <ion-label>
      Toca en una categoría para ver sus productos
    </ion-label>
  </ion-item-divider>
  <ion-card>
    <ion-item>
      <ion-thumbnail slot="start" href="principal">
        <img src="assets/images/cat_camiseta.jpg">
      </ion-thumbnail>
      <ion-label>Camisetas</ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="assets/images/abrigo_negro_noche.jpg">
      </ion-thumbnail>
      <ion-label>Abrigos</ion-label>
    </ion-item>
  
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="assets/images/taza_oro.jpg">
      </ion-thumbnail>
      <ion-label>Tazas</ion-label>
    </ion-item>
  
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="assets/images/gorra_nothing.png">
      </ion-thumbnail>
      <ion-label>Gorras</ion-label>
    </ion-item>
  </ion-card>
  

</ion-content>
